$system_fonts: Arial, Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;

$title-font: "Inter", "Arial Fallback", $system_fonts, sans-serif;
$body-font: $title-font;
$navbar-font: $body-font;

$main_width: 960px;
$mobile-width: 800px;

$navbar-height: 4em;
$footer-height: 4em;

$hpadding: 1.25rem; // The side-padding

$background-color-100: black;
$background-color-200: #0d0d13;

$text-background-color: #f2f2ec;

$text-color: black;
$negative-text-color: #ececec;
$footer-text-color: #839197;

$link-color: #ed1249;
$navbar-focus-color: #f5f2f7;
$negative-link-color: $negative-text-color;

$selection-color: rgba(237, 18, 73, 0.5);

$info-color: #6e6e6e;